{% extends 'knowledgedb/index.html' %}

{% block content %}
<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
        <div class="card-body">
            <h4 class="card-title">{{ division }} Division</h4>
            <!--<p class="card-description"></p>-->
            <div class="table-responsive">
            <table class="table table-striped">
                <tbody>
                    {% for s in squads %}
                        <tr>
                            <td class="py-1">{{ s.nation.flag_emoji }} <a href="{% url 'squads_detail' id=s.id %}">{{ s.nation }}</a></td>
                            {% with teams=s.teams.all %}
                                {% for t in teams %}
                                <td>{{ t.playerA }}{% if t.playerA.eura_pro %}(*){% endif %} & {{ t.playerB }}{% if t.playerB.eura_pro %}(*){% endif %}</td>
                                {% endfor %}
                            {% endwith %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
        </div>
        </div>
    </div>
</div>
{% endblock %}
