{% extends 'knowledgedb/index.html' %}

{% block content %}
<div class="row">
    <h2>{{ nation.flag_emoji }} {{ nation }}</h2>
    <br>
    <div class="col-lg-3 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Squads</h4>
                <!--<p class="card-description"></p>-->
                <ul class="list-star">
                    {% for squad in squads %}
                        <li>
                            <a href="{% url 'squads_detail' id=squad.id %}">{{ squad.tournament.get_division_display }}</a>
                        </li>
                    {% endfor %}
                </ul>
                <h4 class="card-title">Context</h4>
                <!--<p class="card-description"></p>-->
                <ul class="list-arrow">
                    <li>
                        Instagram: <a href="{{ nation.instagram }}" target="_blank" rel="noopener noreferrer">Open on Instagram</a>
                    </li>
                    <li>
                        Number of Pro Players in Roster: {{ eura_pro_count }}
                    </li>
                    <li>
                        Additional Information: {{ nation.add_information }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-8 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Players</h4>
                <!--<p class="card-description"></p>-->
                <div class="table-responsive">
                    <table class="table table-striped">
                        <tbody>
                            {% for player in players %}
                                <tr>
                                    <td class="py-1">{% if player.eura_pro %}(*){% endif %} {{ player }}</td>
                                    {% for team in player.teams_in_nation %}
                                        <td>{{ team.division }}: {{ team.playerA }} &amp; {{ team.playerB }}</td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}