{% extends 'knowledgedb/index.html' %}

{% block content %}
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
        <div class="card-body">
            <h4 class="card-title">{{ squad }}</h4>
            <!--<p class="card-description"></p>-->
            <div class="table-responsive">
            <table class="table table-striped">
                <tbody>
                    {% for t in teams %}
                        <tr>
                            <td class="py-1">
                            {{ t }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
        </div>
        </div>
    </div>
{% endblock %}
