{% extends 'knowledgedb/index.html' %}

{% block content %}
<div class="row">
    {% for t in tournaments %}
    <div class="col-lg-4 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title"><a href="{% url 'divisions_detail' division_slug=t.division %}">{{ t }}</a></h4>
                <!--<p class="card-description"></p>-->
                <a href="/squads/match/" class="btn btn-primary">Match!</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
